.flch-popup {
  color: #2d2d2d;
  font-family: sans-serif;
  font-size: 100%;
  margin: 8px;
  min-width: 240px;

  &__header {
    border-bottom: solid 1px #1d1d1d;
    font-size: 125%;
    padding-bottom: 0.1em;
    text-align: center;
  }

  &__option {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
  }

  &__checkbox,
  &__radio-button {
    margin-right: 0.333rem;
  }

  &__preference-title {
    margin-bottom: 0.333rem;
  }

  &__radio-group {
    display: flex;
    flex-direction: column;
  }

  &__radio-option {
    display: flex;
    align-items: center;
    margin-bottom: 0.333rem;
  }
}
