---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.image-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-content p {
  text-align: justify;
}
