---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.project-name {
  font-family: 'Roboto Slab', sans-serif;
}

.extension-link-container p {
  display: flex;
  justify-content: space-around;
}

.image-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: inherit;
  font-family: 'Roboto Slab', sans-serif;
}

.main-content h1 {
  text-align: center;
}

.main-content p {
  text-align: justify;
}
