@import 'popup/popup.scss';
.flch {
  &-category-header {
    cursor: pointer;
  }
  &-category-header__text {
    &:hover {
      text-decoration: underline;
    }
  }
  &-unlock {
    filter: grayscale(50%);
    opacity: 0.4;
  }
  ul.you_icon > &-empty-icon.empty-icon {
    margin: 2px 10px 8px 0;
  }
}

// This rule needs to be a higher specificity than 'ul.you_icon'
ul.flch-contracted.flch-contracted {
  display: none;
}

.nav__item.nav__item.nav__item--flch:last-of-type {
  border-bottom: 2px solid #a89e8c;
}

.icon--flch-dummied {
  filter: grayscale(50%);
  opacity: 0.4;
}
