.flch {
  &-header {
    // position: relative;
  }
  &-toggle {
    cursor: pointer;
    // position: absolute;
    // left: -20px;
  }
  &-unlock {
    opacity: 0.4;
  }
  ul.you_icon > &-empty-icon.empty-icon {
    margin: 2px 10px 8px 0;

  }
  &-link {
    color: black;
    cursor: pointer;
    // position: absolute;
    left: 0;
    &:hover, &:active, &:visited {
      color: black;
    }
  }
}
